# Virtual environments
.venv
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE
.idea
.vscode/

# Project specific
*.json
*.log.*

# Testing
.coverage
htmlcov/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Documentation
docs/_build/